.cookie-notice {
  background: $grey;
  color: $light-grey;

  @include tablet {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 5;
  }

  &-close {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
    color: $light-grey;
    background: none;
    transition: color .3s ease;

    &:hover, &:focus {
      color: $gold;
    }
  }

  .container {
    display: flex;
    justify-content: space-between;
    padding-top: 15px;
    padding-bottom: 15px;
  }
  p {
    margin: 0;
  }
}
