.cookie-notice {
  background: $grey;
  color: $light-grey;

  &-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
    color: $light-grey;
  }

  .container {
    display: flex;
    justify-content: space-between;
    padding-top: 15px;
    padding-bottom: 15px;
  }
  p {
    margin: 0;
  }
}