.dropdown {
  opacity: 0;
  visibility: hidden;
  transition: opacity .3s ease, visibility .3s ease;
}

.dropdown-link {
  &[aria-expanded="true"] {
   + .dropdown {
      opacity: 1;
      visibility: visible;
    }
    .dropdown__icon {
      transform: rotate(90deg);
    }
  }

  .dropdown__icon {
    transform: rotate(-90deg);
    display: inline-block;
    vertical-align: middle;
    transition: transform .3s ease;
    margin-left: 10px;
  }
}
