.hero {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 83vh;
  height: calc(100vh - 135px);
  color: color("light-grey");
  font-size: $hero-font-size;
  overflow: hidden;

  &__text {
    font-family: $font-cormarant;
    font-weight: 200;
    display: inline-block;
    animation-name: slide-in;
    animation-delay: 2.3s;
    animation-fill-mode: forwards;
    animation-duration: .5s;
    opacity: 0;
    animation-timing-function: ease;
    max-width: 900px;
    margin: 0 auto;
    text-shadow: 0px 0px 10px #000000, 0px 0px 10px #000000;
  }

  &__link {
    color: color("white");
    text-decoration: none;
    padding: 20px;
    display: inline-block;

    .icon-chevron {
      transform: rotate(90deg);
      display: inline-block;
      margin-left: 10px;
      vertical-align: middle;
    }
  }

  &__section {
    font-size: 20px;
    background: color("blue");
    color: color("light-grey");
  }
}

@keyframes slide-in {
  from { transform: translate(-19px); opacity: 0; }
  to { transform: translate(0); opacity: 1; }
}
