.loading-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100%;
  background: color("white");
  display: flex;
  align-items: center;
  color: #ffffff;
  animation-name: background-out;
  animation-duration: .6s;
  animation-delay: 2s;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
  z-index: 10;

  &__background {
    background: color("blue");
    position: absolute;
    content: '';
    display: block;
    top: 0;
    width: 100%;
    height: 100%;
    animation-name: background-in;
    animation-duration: .6s;
    animation-timing-function: ease;
    animation-fill-mode: forwards;

  }

  &:before {
    background: color("blue");
    position: absolute;
    content: '';
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    animation-name: background-in;
    animation-duration: .4s;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
    opacity: .4;
  }

  .logo {
    color: #ffffff;
    z-index: 10;
    animation-name: fade-in;
    animation-delay: .7s;
    animation-duration: .3s;
    opacity: 0;
    animation-fill-mode: forwards;
    width: 320px;
    margin: 0 auto;
    font-family: $font-cormarant;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 23px;

    .star-logo {
      fill: #ffffff;
      margin-bottom: 10px;
    }

    img {
      max-width: 100%;
    }
  }
}

@keyframes background-in {
  0% {left: -100%;}
  100% {left: 0;}
}

@keyframes background-out {
  0% { left: 0; opacity: 1; }
  100% { left: 100%; opacity: 0; }
}

@keyframes fade-in {
  from { opacity: 0; }
  to { opacity: 1; }
}
