.navbar-expand-md {
  .navbar-nav {
    .nav-link {
      border-bottom: 2px solid transparent;
      @include media-breakpoint-up('md'){
        padding-left: 0;
        padding-right: 0;
        margin-right: 0.5rem;
        margin-left: 0.5rem;
      }

  //@include hover-focus {
    border-bottom-color: theme-color("secondary");
  //}
}


.nav {
  align-self: flex-end;
}
