.tabs {
  &__link {
    border: 1px solid color("blue");
    border-right: none;
    padding: 20px 10px;
    display: block;
    background: color("blue");
    color: color("light-grey");
    font-family: $font-cormarant;
    font-size: $font-large;
    text-decoration: none;

    @include hover-focus {
      color: color("gold");
    }

    &--active {
      background: transparent;
      color: color("grey");

      @include hover-focus {
        color: color("grey");
        text-decoration: none;
        cursor: none;
      }
    }

    [class^="icon"] {
      pointer-events: none;
    }
  }

  &__item {
    display: flex;
    &--hidden {
      display: none;
    }

    &--hidden-mobile {
      display: none;

      @include tablet {
        &[aria-hidden="false"] {
          display: flex;
        }
      }
    }
  }

  &__item-content {
    padding-top: 15px;
    padding-bottom: 15px;

    @include tablet {
      border-top: 1px solid color("blue");
      padding: 20px;
    }
  }

  &__contact {
    font-family: $font-montserrat;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
  }

  &__contact-image {
    max-width: 150px;
    width: 100%;
  }

  &__contact-name,
  &__contact-position {
    margin: 0;
    font-family: $font-montserrat;
    font-size: $font-small;
    font-weight: $font-montserrat-light;
  }

  &__contact-link {
    color: color("gold");
    text-decoration: underline;
    margin: 10px 0;
    display: inline-block;

    @include hover-focus {
      text-decoration: none;
    }
  }

  &__contact-email {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }

  &__mobile-head {
    margin: 0 -15px;

    a {
      border: none;
      border-bottom: 1px solid color("blue");
      padding: 15px;
      background: color("light-grey");
      display: block;
      color: color("grey");

      @include hover-focus {
        text-decoration: none;
        color: color("grey");
      }
    }

    &:first-child {
      a {
        border-top: 1px solid color("blue");
      }
    }

    .tabs__link--active {
      background: color("blue");
      color: color("light-grey");

      @include hover-focus {
        color: color("light-grey");
      }

      .icon-plus{
        display: none;
      }

      .icon-minus {
        display: block;
      }
    }

    .icon-plus,
    .icon-minus {
      float: right;
      margin-top: 3px;
    }

    .icon-minus {
      display: none;
    }
  }
}
