.text {
  &-left {
    text-align: left;
  }
  &-right {
    text-align: right;
  }
  &-center {
    text-align: center;
  }

  @include tablet {
    &-right-md {
      text-align: right;
    }
    &-left-md {
      text-align: left;
    }
    &-center-md {
      text-align: center;
    }
  }

  @include desktop {
    &-right-lg {
      text-align: right;
    }
    &-left-lg {
      text-align: left;
    }
    &-center-lg {
      text-align: center;
    }
  }
}

.flex {
  display: flex;

  @include tablet {
    &-md {
      display: flex;
    }
  }

  &--center-align {
    align-items: center;
  }

  &--self-center {
    align-self: center;

    @include tablet {
      &-md {
        align-self: center;
      }
    }
  }

  &--row-reverse {
    flex-direction: row-reverse;

    @include tablet {
      &-m {
        flex-direction: row-reverse;
      }
    }

    @include desktop {
      &-l {
        flex-direction: row-reverse;
      }
    }

    @include mobile {
      &-ns {
        flex-direction: row-reverse;
      }
    }
  }

  &--col-reverse {
    flex-direction: column-reverse;

    @include tablet {
      &-m {
        flex-direction: column-reverse;
      }
    }

    @include desktop {
      &-l {
        flex-direction: column-reverse;
      }
    }

    @include mobile {
      &-ns {
        flex-direction: column-reverse;
      }
    }
  }

  &--self-end {
    align-self: end;

    @include tablet {
      &-md {
        align-self: flex-end;
      }
    }
  }

  &-column {
    flex-direction: column;
  }

  &--end-align {
    align-items: flex-end;
  }
  @include tablet {
    &-md--end-align {
      align-items: flex-end;
    }
  }
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;

  @include tablet {
    &-m {
      position: absolute;
      width: 1px;
      height: 1px;
      padding: 0;
      margin: -1px;
      overflow: hidden;
      clip: rect(0,0,0,0);
      border: 0;
    }
  }
}

.hide {
  display: none!important;
}

.show {
  display: block!important;
}

.space-between {
  justify-content: space-between;
}

.db {
  display: block;

  &-ns {
    display: none;

    @include tablet {
      display: block !important;
    }
  }

  @include tablet {
    &-m {
      display: block;
    }
  }

  @include desktop {
    &-l {
      display: block;
    }
  }
}

.dn {
  display: none;

  &-ns {
    display: block;

    @include tablet {
      display: none;
    }
  }

  @include tablet {
    &-m {
      display: none;
    }
  }

  @include desktop {
    &-l {
      display: none;
    }
  }
}

.di {
  display: inline;

  @include tablet {
    &-ns {
      display: inline;
    }
  }
}

.dib {
  display: inline-block;
}

.df {
  display: flex;

  &-ns {
    display: none;

    @include tablet {
      display: flex;
    }
  }

  @include tablet {
    &-m {
      display: flex;
    }
  }

  @include desktop {
    &-l {
      display: flex;
    }
  }
}

.desktop-only {
  display: none;

  @include tablet {
    display: block;
  }
}

.mobile-only {
  @include tablet {
    display: none;
  }
}

.bold {
  font-weight: 700;
}

.icon-left {
  float: left;
  margin-right: 5px;
}
