@at-root {
  @-ms-viewport { width: device-width; }
}

html {
  box-sizing: border-box;
  -ms-overflow-style: scrollbar;
  line-height: 1.3;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.star-logo {
  box-sizing: content-box;
}

body {
  min-width: 320px;
  margin: 0;
  color: color("grey");
  font-family: $font-montserrat;
  font-weight: $font-montserrat-light;
  font-size: $body-font-size-mobile;

  @include tablet {
    font-size: $body-font-size;
  }
}

h1, .h1,
h2, .h2,
h3, .h3 {
  font-family: $font-heading-family;
  font-weight: 700;
  display: block;
  color: color("blue");;
}

h1, .h1 {
  font-size: $font-size-heading-1;
  margin-top: 0;
}

h2, .h2 {
  font-size: $font-size-heading-2;
  margin-bottom: 5px;
}

h2, .h2 {
  font-size: $font-size-heading-3;
}

p {
  margin-top: 0;
  margin-bottom: 15px;
}

abbr[title] {
  text-decoration: none;

  &:hover {
    cursor: text;
  }
}

address {
  font-style: normal;
}

a {
  color: color("blue");
  text-decoration: $link-decoration;
  transition: color .3s ease;

  @include hover-focus {
    outline: none;
    text-decoration: $link-hover-decoration;
  }
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  padding: 15px $gutter-mobile;
  max-width: $desktop;

  @include tablet {
    padding: 35px $gutter;
  }
}

.text-lead {
  font-size: $font-lead;
}

.section {
  position: relative;
  margin: 56px 0;

  .star-logo {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    padding-left: 10px;
    padding-right: 10px;
    fill: color("grey");
  }
}

hr {
  border-color: color("light-grey");
}

.home-lead {
  color: color("grey");
  padding-top: 56px;
  margin-bottom: 85px;
}
