[type=button] {
  box-sizing: content-box;
  background: none;
  border: 0;
  color: inherit;
  /* cursor: default; */
  font: inherit;
  line-height: normal;
  overflow: visible;
  padding: 0;
  -webkit-appearance: button; /* for input */
  -webkit-user-select: none; /* for button */
  -moz-user-select: none;
  -ms-user-select: none;

  &::-moz-focus-inner {
    border: 0;
    padding: 0;
  }

  &:focus {
    outline: none;
  }
}

.btn-group {
  height: 100%;
}


.btn-lg {
  width: 400px;
  height: 70px;
}

.btn-primary {
    color: $grey;
    background-color: rgba(178,197,225,0.9);
    border-color: $grey;
}

.button {
  border: 1px solid;
  border-color: color("light-grey");
  padding: 10px 35px;
  text-align: center;
  font-size: $font-large;
  color: color("light-grey");
  display: inline-block;
  transition: color .3s ease, border-color .3s ease;
  text-decoration: none;

  @include hover-focus {
    color: color("gold");
    border-color: color("gold");
    text-decoration: none;
  }
}
