.contact {
  #map {
    height: 300px;
    border: 1px solid color("blue");

    @include tablet {
      height: 502px;
      margin-right: 70px;
    }
  }

  &__details {
    text-align: center;
    margin-bottom: 10px;

    @include tablet {
      text-align: left;
    }
  }
}
