.footer {
  background: color("light-grey");
  padding-top: $spacer * 2;
  padding-bottom: ($spacer /2);
  margin-top: $spacer * 3;
}

.footer-legal {
  background: theme-color("primary");
  color: color("light-grey");
  padding-top: ($spacer / 2);
  padding-bottom: ($spacer /2);
}
