.grid {
  display: flex;
  flex-wrap: wrap;
  margin-left: -$colgutter;
  margin-right: -$colgutter;

  &--center-align {
    align-items: center;
  }

  &--end-align {
    align-items: flex-end;
  }

  @include tablet {
    &-md--end-align {
      align-items: flex-end;
    }
  }

  &--no-gutters {
    .col, .col-sm, .col-md, .col-lg {
      padding-left: 0;
      padding-right: 0;
    }
  }

  @include mobile {
    &-sm--no-gutters {
      > .col {
        padding-left: 0;
        padding-right: 0;
      }
    }
  }

  @include tablet {
    &-md--no-gutters {
      > .col-md-* {
        padding-left: 0;
        padding-right: 0;
      }
    }
  }

  @include desktop {
    &-lg--no-gutters {
      > .col-lg-* {
        padding-left: 0;
        padding-right: 0;
      }
    }
  }
}

.col, .col-md, .col-lg {
  flex: 1 0 100%;
  max-width: 100%;
}

.col {
  padding-right: $colgutter;
  padding-left: $colgutter;

  &-2 {
    flex: 0 0 16.5%;
    max-width: 16.5%;
  }

  &-3 {
    flex: 0 0 24.75%;
    max-width: 24.75%;
  }

  &-4 {
    flex: 0 0 33.33%;
    max-width: 33.33%;
  }

  &-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }

  &-8 {
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
  }

  &-9 {
    flex: 0 0 75.08%;
    max-width: 75.08%;
  }

  &-10 {
    flex: 0 0 83.33%;
    max-width: 83.33%;
  }
}

@include tablet {
  .col {
    padding-right: $colgutter;
    padding-left: $colgutter;

    &-md, &-md-4, &-md-6, &-md-8 {
      padding-right: $colgutter;
      padding-left: $colgutter;
    }

    &-md {
      flex-basis: 0;
      max-width: 100%;
      flex-grow: 1;

      &-2 {
        flex: 0 0 16.5%;
        max-width: 16.5%;
      }

      &-3 {
        flex: 0 0 24.75%;
        max-width: 24.75%;
      }

      &-4 {
        flex: 0 0 33.33%;
        max-width: 33.33%;
      }

      &-6 {
        flex: 0 0 50%;
        max-width: 50%;
      }

      &-8 {
        flex: 0 0 66.666667%;
        max-width: 66.666667%;
      }

      &-9 {
        flex: 0 0 75.08%;
        max-width: 75.08%;
      }

      &-10 {
        flex: 0 0 83.33%;
        max-width: 83.33%;
      }
    }
  }
}

@include desktop {
  .col {
    &-lg, &-lg-4, &-lg-6, &-lg-8 {
      padding-right: $colgutter;
      padding-left: $colgutter;
    }

    &-lg {
      flex-basis: 0;
      max-width: 100%;
      flex-grow: 1;

      &-2 {
        flex: 0 0 16.5%;
        max-width: 16.5%;
      }

      &-3 {
        flex: 0 0 24.75%;
        max-width: 24.75%;
      }

      &-4 {
        flex: 0 0 33.33%;
        max-width: 33.33%;
      }

      &-6 {
        flex: 0 0 50%;
        max-width: 50%;
      }

      &-8 {
        flex: 0 0 66.666667%;
        max-width: 66.666667%;
      }

      &-9 {
        flex: 0 0 75.08%;
        max-width: 75.08%;
      }

      &-10 {
        flex: 0 0 83.33%;
        max-width: 83.33%;
      }
    }
  }
}

@include desktop-wide {
  .col {
    &-xl, &-xl-6, &-xl-4, &-xl-8 {
      padding-right: $colgutter;
      padding-left: $colgutter;
    }

    &-xl {
      flex-basis: 0;
      max-width: 100%;
      flex-grow: 1;

      &-2 {
        flex: 0 0 16.5%;
        max-width: 16.5%;
      }

      &-3 {
        flex: 0 0 24.75%;
        max-width: 24.75%;
      }

      &-4 {
        flex: 0 0 33.33%;
        max-width: 33.33%;
      }

      &-6 {
        flex: 0 0 50%;
        max-width: 50%;
      }

      &-8 {
        flex: 0 0 66.666667%;
        max-width: 66.666667%;
      }

      &-9 {
        flex: 0 0 75.08%;
        max-width: 75.08%;
      }

      &-10 {
        flex: 0 0 83.33%;
        max-width: 83.33%;
      }
    }
  }
}

//.container {
//  .grid:first-child {
//    .col {
//      padding-left: 0;
//      padding-right: 0;
//    }
//  }
//}
