.navbar-brand {
  &:hover {
    border-bottom: 0;
  }
}

.navbar-collapse {
  position: absolute;
  right: -100%;

  &.show {
    right: 0;
  }
}

.navbar-toggler {
  &:focus {
    outline: none;
  }
}

.navbar-nav {
  @include media-breakpoint-down('sm') {
    display: none;
  }
}
