.tabs {
  &__link {
    border: 1px solid color("blue");
    border-right: none;
    padding: 20px 10px;
    display: block;
    background: color("blue");
    color: color("light-grey");
    font-family: $font-cormarant;
    font-size: $font-large;

    @include hover-focus {
      color: color("gold");
    }

    &--active {
      background: transparent;
      color: color("grey");

      @include hover-focus {
        color: color("grey");
        text-decoration: none;
        cursor: none;
      }
    }
  }

  &__item {
    &--hidden {
      display: none;
    }
  }

  &__item-content {
    padding: 20px;
    border-top: 1px solid color("blue");
  }

  &__contact {
    font-family: $font-montserrat;
    margin-left: 20px;
  }

  &__contact-image {
    max-width: 100%;
  }

  &__contact-name,
  &__contact-position {
    margin: 0;
    font-family: $font-montserrat;
    font-size: $font-small;
    font-weight: $font-montserrat-light;
  }
  &__contact-link {
    color: color("gold");
    text-decoration: underline;
    margin: 10px 0;
    display: inline-block;

    @include hover-focus {
      text-decoration: none;
    }
  }

  &__contact-email {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }
}
