.team-list {
  list-style: none;
  margin-top: 33px;

  &__item {
    border: 1px solid;
    border-color: color("light-grey");
    display: block;
    box-shadow: 0 0 5px rgba(0,0,0, .8);
    color: theme-color("primary");
    margin-bottom: 50px;

    @include hover-focus {
      text-decoration: none;
    }

    &:focus {
      outline: 2px solid color("blue");
    }
  }

  &__image {
    display: block;
    max-width: 100%;
    width: 100%;
    height: auto;
  }

  &__content {
    padding: 15px;
    position: relative;

    &:after {
      font-family: 'icomoon';
      color: color("blue");
      content: '\e902';
      display: inline-block;
      position: absolute;
      right: 10px;
      top: 50%;
      transform: translate(0, -50%);
      font-size: 2rem;
    }
  }

  &__title {
    font-family: $font-cormarant;
    font-size: $font-large;
  }

  &__position {
    display: block;
    font-weight: $font-montserrat-regular;
  }
}
