.text {
  &-right {
    text-align: right;

    @include tablet {
      &-md {
        text-align: right;
      }
    }

    @include desktop {
      &-lg {
        text-align: right;
      }
    }
  }

  &-left {
    text-align: left;

    @include tablet {
      &-md {
        text-align: left;
      }
    }

    @include desktop {
      &-lg {
        text-align: left;
      }
    }
  }

  &-center {
    text-align: center;

    @include tablet {
      &-md {
        text-align: center;
      }
    }

    @include desktop {
      &-lg {
        text-align: center;
      }
    }
  }
}

.flex {
  display: flex;

  @include tablet {
    &-md {
      display: flex;
    }
  }

  &--center-align {
    align-items: center;
  }

  &--self-center {
    align-self: center;

    @include tablet {
      &-md {
        align-self: center;
      }
    }
  }

  &--row-reverse {
    flex-direction: row-reverse;

    @include tablet {
      &-m {
        flex-direction: row-reverse;
      }
    }

    @include desktop {
      &-l {
        flex-direction: row-reverse;
      }
    }

    @include mobile {
      &-ns {
        flex-direction: row-reverse;
      }
    }
  }

  &--col-reverse {
    flex-direction: column-reverse;

    @include tablet {
      &-m {
        flex-direction: column-reverse;
      }
    }

    @include desktop {
      &-l {
        flex-direction: column-reverse;
      }
    }

    @include mobile {
      &-ns {
        flex-direction: column-reverse;
      }
    }
  }

  &--self-end {
    align-self: end;

    @include tablet {
      &-md {
        align-self: flex-end;
      }
    }
  }

  &-column {
    flex-direction: column;
  }

  &--end-align {
    align-items: flex-end;
  }
  @include tablet {
    &-md--end-align {
      align-items: flex-end;
    }
  }
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
}

.hide {
  display: none!important;
}

.show {
  display: block!important;
}

.space-between {
  justify-content: space-between;
}

.db {
  display: block;

  &-ns {
    display: none;

    @include tablet {
      display: block;
    }
  }

  @include tablet {
    &-m {
      display: block;
    }
  }

  @include desktop {
    &-l {
      display: block;
    }
  }
}

.dn {
  display: none;

  &-ns {
    display: block;

    @include tablet {
      display: none;
    }
  }

  @include tablet {
    &-m {
      display: none;
    }
  }

  @include desktop {
    &-l {
      display: none;
    }
  }
}
