// Colors
$light-grey: #e6e6e6;
$grey: #4a4a4a;
$blue: #0d2333;
$gold: #d7b377;


$colors: (
  "light-grey": $light-grey,
  "grey": $grey,
  "blue": $blue,
  "gold": $gold,
  "white": $light-grey,
  "black": $grey,
);

// Body
$font-xlarge: 34px;
$font-large: 20px;
$font-normal: 18px;
$font-small: 16px;

$font-montserrat: 'Montserrat', sans-serif;
$font-montserrat-light: 200;
$font-montserrat-regular: 400;
$font-cormarant: 'Cormorant Garamond', serif;
$font-times: Times, serif;
$body-font: $grey;
$body-font-size-mobile: 15px;
$body-font-size: $font-small;

$font-weight-bold: 700;
$font-lead: 20px;

// Heading
$font-heading-family: $font-cormarant;
$font-size-heading-1: 36px;
$font-size-heading-2: 25px;
$font-size-heading-3: 20px;

// Spacing
$spacer: 1rem;
$gutter: 40px;
$gutter-mobile: 15px;
$colgutter: 10px;

// Links
$link-hover-decoration: none;
$link-decoration: underline;

// Navbar
$navbar-padding-x: 0;
$nav-link-padding-y: 0; 

// Paragraph
$paragraph-margin-bottom: $spacer * 2;

// Fonts
$font-family-base: $font-montserrat;
$h2-font-size: $spacer * 1.5;
$headings-margin-bottom: $spacer;
$body-color: $grey;

// Icons
$icon-font: 'icomoon';
$icon-user: "\e904";
$icon-arrow: "\e900";
$icon-burger: "\e901";
$icon-chevron: "\e902";
$icon-close: "\e903";
$icon-small: .5em;

// Banner
$banner-height: 391px;

// Breakpoints
$tablet: 768px;
$desktop: 1024px;
$desktop-wide: 1280px;

// Header
$header-height: 70px;
$nav-font-size: $font-normal;
$nav-font-family: $font-montserrat;

// Hero
$hero-font-size: $font-xlarge;
