// Colors
$theme-colors: (
  "primary": #585858,
  "secondary": #417fc0
);

$colors: (
  "light-grey": #e6e6e6
);

// Links
$link-hover-decoration: none;

// Navbar
$navbar-padding-x: 0;

// Fonts
$font-family-base: Georgia, Times, "Times New Roman", serif;
$h2-font-size: 1.5rem;
