// Colors
$grey: #585858;
$blue: #417fc0;

$theme-colors: (
  "primary": $grey,
  "secondary": $blue
);

$colors: (
  "light-grey": #e6e6e6
);

// Spacing
$spacer: 1rem;

// Links
$link-hover-decoration: none;

// Navbar
$navbar-padding-x: 0;

// Paragraph
$paragraph-margin-bottom: $spacer * 2;

// Fonts
$font-family-base: Georgia, Times, "Times New Roman", serif;
$h2-font-size: $spacer * 1.5;
$headings-margin-bottom: $spacer;
$body-color: $grey;

